{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to my-Kart where you can buys different items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - my Kart
    {% else %}
        See Our New Collections - my Kart
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
                <p><a href="{% url 'shopapp:allProductCat' %}">Our Product Collection</a></p>
            </div>
        </div>
    </div>
{% endif %}
<div class="mx_auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" width="100%;">
</div>
<br>
<div>
    <h1 class="text-center my_title" style="font-size:25px;">Our Product Collections</h1><br>
    <p class="text-justify">My Kart is the ecommerce shopping cart. We provide better electronic gadgets such as laptops and smartphones with better offers. Enjoy the shopping.</p><br>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" style="width:300px; height:320px;"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}